#space-graph {
  background: white;
}

#space-graph-tooltip-template {
  display: none;
}

.space-graph-tooltip {
  padding: 0 5px 0 5px;
}

.node-details {
  color: #707070;
}

.node-details > div {
  padding: 4px;
}

#page, #sliding-content {
    position: relative;
}

#page {
    background-color: rgba(0, 0, 0, 0);
}

#sliding-content {
    display: block;
    left: 0;
    transition: left .33s cubic-bezier(.683, .0471, .346, 1);
    -webkit-transform: translate3d(0,0,0);
    -webkit-box-shadow: 2px 0px 10px 1px rgba(0,0,0,0.37);
    -moz-box-shadow: 2px 0px 10px 1px rgba(0,0,0,0.37);
    box-shadow: 2px 0px 10px 1px rgba(0,0,0,0.37);
    background-color: #FFF;
}

#sliding-content form.aui {
    margin-top: 0;
    padding: 10px 10px 0;
    text-align: right;
}

#sliding-nav.nav-open + #sliding-content {
    left: -260px;
}

#sliding-nav {
    width: 250px;
    opacity: 0;
    transition: opacity .33s cubic-bezier(.683, .0471, .346, 1);
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 0
}

#sliding-nav.nav-open {
    opacity: 1;
}

.space-graph.nav-open {
    left: -250px;
}

.node-details .aui-icon {
  margin-right: 2px;
}

.image-pages {
  background-image: url('../image/pages.png');
  background-size: 16px;
}

.controls span.aui-icon {
  margin-right: 5px;
}

.aui-page-panel {
    margin-top: 0;
}

#space-graph-message {
  height: 30px;
  display: inline-block;
  line-height: 30px;
  padding: 10px 20px 10px 20px;
  background-color: rgba(255, 255, 255, .9);
  font-size: 30px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  box-shadow: rgba(128, 128, 128, 0.498039) 3px 3px 10px;
  bottom: 20%;
  position: absolute;
  z-index: 100;
}

#space-graph-message a {
  cursor: pointer;
  text-decoration: none;
}

#mode-select-container {
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 100;
}

#mode-select-container label {
  font-weight: bold;
  vertical-align: middle;
}