<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <link rel="stylesheet" href="/lib/aui/css/aui-all.css" media="all">
    <link rel="stylesheet" href="/lib/vis/dist/vis.css">
    <link rel="stylesheet" href="css/confluence-gardener.css">
</head>
<body>
<div id="page">
    <nav id="sliding-nav" class="page-details"></nav>
    <div id="sliding-content">
        <div id="space-graph-message">
            This is not a test, of the emergency broadcast system.
        </div>
        <div id="space-graph"></div>
    </div>
</div>

<script src="/lib/aui/js/aui-all.js"></script>
<script src="lib/requirejs/require.js" data-main="/js/main"></script>
<script type="x/template" id="space-graph-tooltip-template">
    <div class="space-graph-tooltip" data-node-id="<%= id %>">
        <h2><%= label %></h2>
        <section class="node-details">
            <% if (!daysSinceUpdated) { %>
                Created <%= daysSinceCreated %> by
            <% } else { %>
                Last edited <%= daysSinceUpdated %> by
            <% } %>
            <% if (createdBy.anonymous) { %>
                Anonymous
            <% } else { %>
                <a href="/display/~<%= createdBy.name %>"><%= createdBy.displayName || "Anonymous" %></a>
            <% } %>
            <% if (attachments || comments || children) { %>
                <ul>
                <% if (attachments) { %>
                    <li><%= attachments %> attachments</li>
                <% } %>
                <% if (comments) { %>
                    <li><%= comments %> comments</li>
                <% } %>
                <% if (children) { %>
                    <li><%= children %> children</li>
                <% } %>
                </ul>
            <% } %>
        </section>
        <div class="aui-toolbar2">
            <div class=aui-toolbar-2-inner">
                <div class="aui-toolbar2-primary">
                    <div class="aui-buttons">
                        <a class="aui-button aui-button-primary" target="cGardener" href="<%= baseUrl %>/pages/viewpage.action?pageId=<%= id %>">View</a>
                        <a class="aui-button" target="cGardener" href="<%= baseUrl %>/pages/editpage.action?pageId=<%= id %>">Edit</a>
                        <a class="aui-button move-page">Move</a>
                        <a class="aui-button delete-page">Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="x/template" id="space-graph-delete-popup-template">
    Delete <em><%= label %></em>? <a class='message-confirm-delete' data-node-id="<%= id %>">Confirm</a> or <a class='message-cancel-delete'>cancel</a>
</script>
</body>
</html>
